/* width */
::-webkit-scrollbar {
	width: 0;
}

.blog_container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.blog_card {
	width: 28rem;
	height: 35rem;
	margin: 2rem;
	padding: 0 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.15);
	border-radius: 0.3rem;
}

.blog_image {
	width: 100%;
	height: 15rem;
	margin: 3rem 2rem 2rem;
	object-fit: cover;
	flex: 1;
}

.blog_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.2rem;
}

.blog_content {
	width: 100%;
	flex: 1;
	padding-bottom: 2rem;
}

.blog_author {
	font-weight: 800;
	margin-bottom: 2rem;
	font-size: 1.7rem;
	text-decoration: underline;
	text-underline-position: under;
}

.blog_author__link {
	color: #444544;
}

.blog_title {
	word-spacing: 0.2rem;
}

@media (max-width: 1050px) {
	::-webkit-scrollbar {
		width: 10px;
	}
}
